.cup {
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.ingredient {
    width: 50px;
    flex-grow: 1;

}